PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE categories (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  name TEXT NOT NULL,

  slug TEXT NOT NULL,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP

);
INSERT INTO categories VALUES(1,'electronic','asdfasdf','2026-02-23 12:20:32');
INSERT INTO categories VALUES(2,'mens collection','sale','2026-02-23 13:02:39');
INSERT INTO categories VALUES(3,'Hijab','hoojabi','2026-02-23 13:31:56');
CREATE TABLE products (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  name TEXT NOT NULL,

  price REAL NOT NULL,

  image_url TEXT,

  category_id INTEGER NOT NULL,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP, description TEXT,

  FOREIGN KEY (category_id) REFERENCES categories(id)

);
INSERT INTO products VALUES(2,'AGSFDHasdasdsas',89535.0,'',1,'2026-02-23 12:29:33',NULL);
INSERT INTO products VALUES(5,'fasfdsfasdf',64456.0,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771852772238-Movies & TV 9_8_2025 9_57_50 PM.png',2,'2026-02-23 13:19:42',NULL);
INSERT INTO products VALUES(7,'Black burkha',99999.0,'',3,'2026-02-23 13:32:23',NULL);
CREATE TABLE product_images (id INTEGER PRIMARY KEY AUTOINCREMENT, product_id INTEGER NOT NULL, image_url TEXT NOT NULL, sort_order INTEGER DEFAULT 0, created_at DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (product_id) REFERENCES products(id));
INSERT INTO product_images VALUES(1,9,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771856149395-cover.jpg',0,'2026-02-23 14:17:06');
INSERT INTO product_images VALUES(2,9,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771856151264-dani.jpg',1,'2026-02-23 14:17:06');
INSERT INTO product_images VALUES(3,9,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771856154189-moiz.jpg',2,'2026-02-23 14:17:06');
CREATE TABLE banners (id INTEGER PRIMARY KEY AUTOINCREMENT, image_url TEXT NOT NULL, heading TEXT NOT NULL, button_text TEXT NOT NULL, sort_order INTEGER DEFAULT 0, created_at DATETIME DEFAULT CURRENT_TIMESTAMP, link_to TEXT);
INSERT INTO banners VALUES(5,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771860783918-0de6ee22eb4d16d61fe2dc7eaa4161ee.jpg','New \n winter collection','Avail Now',0,'2026-02-23 15:33:07',NULL);
INSERT INTO banners VALUES(6,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771860839111-e2627c9ab741896e0dc7339ecaa98fd4.jpg','Chotai Bachey','Lelo',1,'2026-02-23 15:34:01',NULL);
INSERT INTO banners VALUES(8,'https://pub-2bbed4cb70334d47bdd2825ee931d263.r2.dev/1771860995191-IMG_20260220_220353_521.jpg','Masala Recipe','chatpata',3,'2026-02-23 15:36:40',NULL);
CREATE TABLE reviews (id INTEGER PRIMARY KEY AUTOINCREMENT, product_id INTEGER NOT NULL, user_id TEXT NOT NULL, user_name TEXT NOT NULL, rating INTEGER NOT NULL CHECK(rating BETWEEN 1 AND 5), comment TEXT NOT NULL, created_at DATETIME DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (product_id) REFERENCES products(id));
INSERT INTO reviews VALUES(1,12,'user_39yCn3bDUv7GwnbpKGubT0x9Lte','Rafay',3,'jhjkhkj','2026-03-01 06:41:48');
INSERT INTO reviews VALUES(2,12,'user_39yCn3bDUv7GwnbpKGubT0x9Lte','Rafay',4,'cfgdsfdg','2026-03-01 06:42:06');
INSERT INTO reviews VALUES(3,12,'user_39yCn3bDUv7GwnbpKGubT0x9Lte','Rafay',5,'asdfasdf','2026-03-01 06:42:11');
CREATE TABLE orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id TEXT NOT NULL,
    user_name TEXT NOT NULL,
    user_email TEXT NOT NULL,
    address TEXT NOT NULL,
    city TEXT NOT NULL,
    phone TEXT NOT NULL,
    total REAL NOT NULL,
    status TEXT DEFAULT 'pending',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO orders VALUES(1,'user_39yCn3bDUv7GwnbpKGubT0x9Lte','Rafay','nbdotwork@gmail.com','gffdg','asdfasdf','858767696',400027010.0,'cancelled','2026-03-01 07:43:14');
INSERT INTO orders VALUES(2,'user_39yCn3bDUv7GwnbpKGubT0x9Lte','Rafay','nbdotwork@gmail.com','702 peer shaba road sarai kharbooza ternol islamabad','Islamabad','03359124288',3000.0,'pending','2026-03-01 09:01:33');
CREATE TABLE order_items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    product_name TEXT NOT NULL,
    price REAL NOT NULL,
    quantity INTEGER NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(id)
  );
INSERT INTO order_items VALUES(1,1,12,'Chota bacha',3000.0,9);
INSERT INTO order_items VALUES(2,1,11,'islm',100000000.0,4);
INSERT INTO order_items VALUES(3,1,10,'pf',10.0,1);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('categories',4);
INSERT INTO sqlite_sequence VALUES('products',13);
INSERT INTO sqlite_sequence VALUES('product_images',38);
COMMIT;
